version: '3.4'
services:
  metabase:
    image: coolersport/metabase:0.37.0.1
    read_only: true
    user: metabase
    depends_on:
    - mysql
    ports:
    - "3000:3000"
    environment:
      MB_DB_TYPE: mysql
      MB_DB_HOST: mysql
      MB_DB_DBNAME: metabase
      MB_DB_PORT: 3306
      MB_DB_USER: dev
      MB_DB_PASS: dev
      MB_PLUGINS_DIR: /opt/plugins
      MB_ENCRYPTION_SECRET_KEY: 0123456789abcxyz
      MB_SITE_NAME: Test Metabase
      MB_SITE_URL: http://localhost:3000
      MB_ANON_TRACKING_ENABLED: 'false'
#      MB_ADMIN_EMAIL: 
      MB_JDBC_DATA_WAREHOUSE_MAX_CONNECTION_POOL_SIZE: 15
      MB_APPLICATION_DB_MAX_CONNECTION_POOL_SIZE: 15
      MB_ASYNC_QUERY_THREAD_POOL_SIZE: 50
      MB_CHECK_FOR_UPDATES: 'false'
      MB_DB_AUTOMIGRATE: 'true'
      MB_EMAIL_SMTP_HOST: 
      MB_EMAIL_SMTP_PORT: 
      MB_EMAIL_SMTP_SECURITY: 
      MB_EMOJI_IN_LOGS: 'false'
      MB_ENABLE_PUBLIC_SHARING: 'true'
      MB_ENABLE_QUERY_CACHING: 'true'
      MB_GOOGLE_AUTH_CLIENT_ID: 
      MB_GOOGLE_AUTH_AUTO_CREATE_ACCOUNTS_DOMAIN: 
# see more at https://www.metabase.com/docs/latest/operations-guide/environment-variables.html
    volumes:
    - plugins:/tmp:rw
    - plugins:/opt/plugins:rw
  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: dev
      MYSQL_USER: dev
      MYSQL_PASSWORD: dev
    volumes:
    - mysql:/var/lib/mysql:rw
    - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
volumes:
  mysql:
    labels:
    - "keep=true"
    - "app=metabase"
  plugins:
    labels:
    - "keep=true"
    - "app=metabase"
